USE [master]
GO
/****** Object:  Database [CinemaTicketManagement]    Script Date: 28/04/2025 10:26:33 SA ******/
CREATE DATABASE [CinemaTicketManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaTicketManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaTicketManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaTicketManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaTicketManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaTicketManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaTicketManagement]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 28/04/2025 10:26:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[Duration] [int] NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrders]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrders](
	[ProductOrderID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductType] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] NOT NULL,
	[RoomName] [nvarchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatStatus]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatStatus](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ShowtimeID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[ShowtimeID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[DateTime] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] NOT NULL,
	[ShowtimeID] [int] NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[seatID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Available] [bit] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [Duration], [Director], [ReleaseDate], [Image]) VALUES (1, N'Thám Tử Khen: Kỳ Án Không Đầu', N'Kinh Dị', 131, N'Nguyễn Quang Dũng', CAST(N'2025-04-04' AS Date), N'/img/movies/mv01.jpg')
INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [Duration], [Director], [ReleaseDate], [Image]) VALUES (2, N'Địa Đạo: Mặt Trời Trong Bóng Tối', N'Lịch Sử', 128, N'Trịnh Đình Lê Minh', CAST(N'2025-04-04' AS Date), N'/img/movies/mv02.jpg')
INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [Duration], [Director], [ReleaseDate], [Image]) VALUES (3, N'Cướp Mặt Giải Hạn', N'Hài', 128, N'Charlie Nguyễn', CAST(N'2025-04-11' AS Date), N'/img/movies/mv03.jpg')
GO
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethodID]) VALUES (1, 2, CAST(N'2025-04-27T02:16:02.260' AS DateTime), CAST(155000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethodID]) VALUES (2, 2, CAST(N'2025-04-27T02:46:54.510' AS DateTime), CAST(165000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethodID]) VALUES (3, 2, CAST(N'2025-04-27T02:49:40.983' AS DateTime), CAST(145000.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (2, N'Thẻ tín dụng')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (3, N'Thẻ ghi nợ')
GO
INSERT [dbo].[ProductOrders] ([ProductOrderID], [OrderID], [ProductID], [Quantity], [TotalPrice]) VALUES (1, 1, 1, 1, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductOrders] ([ProductOrderID], [OrderID], [ProductID], [Quantity], [TotalPrice]) VALUES (2, 1, 2, 1, CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductOrders] ([ProductOrderID], [OrderID], [ProductID], [Quantity], [TotalPrice]) VALUES (3, 3, 3, 1, CAST(60000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Price], [Image]) VALUES (1, N'Bắp Rang Bơ (Nhỏ)', N'Food', CAST(35000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Price], [Image]) VALUES (2, N'Nước Ngọt Pepsi (Lon)', N'Drink', CAST(30000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductType], [Price], [Image]) VALUES (3, N'Combo 1 (Bắp Nhỏ + Pepsi)', N'Combo', CAST(60000.00 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity], [Type]) VALUES (1, N'Phòng chiếu 1', 120, N'2D')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity], [Type]) VALUES (2, N'Phòng chiếu 2', 150, N'2D')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity], [Type]) VALUES (3, N'Phòng chiếu 3', 60, N'VIP')
GO
INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatNumber]) VALUES (1, 1, N'A1')
INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatNumber]) VALUES (2, 1, N'A2')
INSERT [dbo].[Seats] ([SeatID], [RoomID], [SeatNumber]) VALUES (3, 1, N'A3')
GO
SET IDENTITY_INSERT [dbo].[SeatStatus] ON 

INSERT [dbo].[SeatStatus] ([ReservationID], [ShowtimeID], [SeatID], [Status]) VALUES (5, 1, 35, N'Booked')
INSERT [dbo].[SeatStatus] ([ReservationID], [ShowtimeID], [SeatID], [Status]) VALUES (6, 3, 86, N'Booked')
INSERT [dbo].[SeatStatus] ([ReservationID], [ShowtimeID], [SeatID], [Status]) VALUES (7, 3, 76, N'Booked')
GO
SET IDENTITY_INSERT [dbo].[SeatStatus] OFF
GO
INSERT [dbo].[Showtimes] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [DateTime], [Price]) VALUES (1, 1, 1, CAST(N'18:00:00' AS Time), CAST(N'2025-04-04' AS Date), CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[Showtimes] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [DateTime], [Price]) VALUES (2, 2, 2, CAST(N'20:30:00' AS Time), CAST(N'2025-04-04' AS Date), CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[Showtimes] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [DateTime], [Price]) VALUES (3, 3, 3, CAST(N'19:00:00' AS Time), CAST(N'2025-04-11' AS Date), CAST(120000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Tickets] ([TicketID], [ShowtimeID], [SaleDate], [OrderID], [Price], [seatID]) VALUES (1, 4, CAST(N'2025-04-27T02:16:02.290' AS DateTime), 1, CAST(90000.00 AS Decimal(10, 2)), 304)
INSERT [dbo].[Tickets] ([TicketID], [ShowtimeID], [SaleDate], [OrderID], [Price], [seatID]) VALUES (2, 2, CAST(N'2025-04-27T02:49:41.010' AS DateTime), 3, CAST(85000.00 AS Decimal(10, 2)), 135)
INSERT [dbo].[Tickets] ([TicketID], [ShowtimeID], [SaleDate], [OrderID], [Price], [seatID]) VALUES (3, 2, CAST(N'2025-04-27T03:10:03.790' AS DateTime), 4, CAST(85000.00 AS Decimal(10, 2)), 136)
GO
INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [PasswordHash], [Email], [Available], [RoleID]) VALUES (1, N'Quản Lý Hệ Thống', N'admin', N'admin123', N'admin@cinema.com', 1, 1)
INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [PasswordHash], [Email], [Available], [RoleID]) VALUES (2, N'Nguyễn Văn An', N'nv001', N'nv001123', N'nguyen.an@cinema.com', 1, 2)
INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [PasswordHash], [Email], [Available], [RoleID]) VALUES (3, N'Trần Thị Bình', N'nv002', N'nv002123', N'tran.binh@cinema.com', 1, 2)
GO
ALTER TABLE [dbo].[SeatStatus] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Available]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductOrders]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ProductOrders]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[SeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_SeatStatus_SeatID] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[SeatStatus] CHECK CONSTRAINT [FK_SeatStatus_SeatID]
GO
ALTER TABLE [dbo].[SeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_SeatStatus_ShowtimeID] FOREIGN KEY([ShowtimeID])
REFERENCES [dbo].[Showtimes] ([ShowtimeID])
GO
ALTER TABLE [dbo].[SeatStatus] CHECK CONSTRAINT [FK_SeatStatus_ShowtimeID]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ShowtimeID])
REFERENCES [dbo].[Showtimes] ([ShowtimeID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Seats] FOREIGN KEY([seatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Seats]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckShowtimeExists]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckShowtimeExists]
    @ShowtimeID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) AS IsExists 
    FROM Showtimes 
    WHERE ShowtimeID = @ShowtimeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertShowtime]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertShowtime]
    @ShowtimeID INT,
    @MovieID INT,
    @RoomID INT,
    @DateTime DATE,
    @StartTime TIME,
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Showtimes (ShowtimeID, MovieID, RoomID, DateTime, StartTime, Price)
    VALUES (@ShowtimeID, @MovieID, @RoomID, @DateTime, @StartTime, @Price);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTicket]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTicket]
    @TicketID INT,
    @ShowTimeID INT,
    @SaleDate DATETIME,
    @OrderID INT,
    @SeatID INT,
    @Price FLOAT
AS
BEGIN
    INSERT INTO Tickets (TicketID, ShowTimeID, SaleDate, OrderID, SeatID, Price)
    VALUES (@TicketID, @ShowTimeID, @SaleDate, @OrderID, @SeatID, @Price);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @username NVARCHAR(50),
    @password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        userID,
        username,
        fullName,
        passwordHash,
        roleID
    FROM Users
    WHERE username = @username 
        AND passwordHash = @password 
        AND available = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateShowtime]    Script Date: 28/04/2025 10:26:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateShowtime]
    @ShowtimeID INT,
    @MovieID INT,
    @RoomID INT,
    @DateTime DATE,
    @StartTime TIME,
    @Price DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Showtimes
    SET MovieID = @MovieID,
        RoomID = @RoomID,
        DateTime = @DateTime,
        StartTime = @StartTime,
        Price = @Price
    WHERE ShowtimeID = @ShowtimeID;
END;
GO
USE [master]
GO
